ALTER TABLE albums ADD COLUMN IF NOT EXISTS translations JSONB DEFAULT '{}'::jsonb; ALTER TABLE landing_page_settings ADD COLUMN IF NOT EXISTS translations JSONB DEFAULT '{}'::jsonb; ALTER TABLE about_profile ADD COLUMN IF NOT EXISTS translations JSONB DEFAULT '{}'::jsonb;
